html {
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
}
body {
    height: 100%;
    font-family: Palatino, Helvetica, Arial;
    font-size: 20px;
    margin-left:10%;
    margin-right:10%;
}
p {
    margin: 5px;
}
ul {
    margin: 5px;
    list-style-type: square;
}
.center{
    text-align: center;
}
.vertcenter{
    vertical-align: center;
}
.navbar {
    margin-top: 0%;
    background-color: gray;
    border-radius: 10px;
}
.bold{
    font-weight: bold;
}
.horizflex {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.leftjust {
    justify-content: left;
}
#propic{
    border-radius: 50px;
/*    position: absolute;*/
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    border-style: double;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}