html {
    background: url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;

}
* {
    font-family: 'Karla', sans-serif;
}
body {
    height: 100%;
    font-family: Palatino, Helvetica, Arial;
    font-size: 20px;
    margin-left: 3%;
    margin-right: 3%;
}
h4{
    margin-top: 0%;
}
iframe{
    float: left;
}
.center{
    text-align: center;
}
.vertcenter{
    vertical-align: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
}
.navbar {
    margin-top: 0%;
    background-color: gray;
    border-radius: 5%;
}
.bold{
    font-weight: bold;
}
.horizflex, .vertflex{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.vertflex {
    flex-direction: column;
}
.vertflex > div {
    margin-top: 60px;
}
.thirds {
    height: 33%;
}

.projimg, iframe {
    float: left;
    width: 50%;
    margin-right: 2%;
}
.leftjust {
    justify-content: left;
}
#name {
    margin-left: 3%;
    font-size: 200%;
}
#propic{
    border-radius: 30%;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    border-style: none;
}

.hidden {
    display: none;
}
.active {
    background-color: black;
    color: gray;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}